# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
crud/
venv/
env/
.venv/

# VS Code
.vscode/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
